<h2>Questions</h2>
<%= link_to "New Question", new_question_path %>
<hr>
<ul>
    <% @questions.each do |question| %>
      <li><%= link_to question.question, question_path(question) %> by <%= question.name%></li><br><hr><br>
    <% end %>
  </ul>
